:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /*background-color: #242424;*/
    background-color: #F2F2F2;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    background-color: #F2F2F2;
}

.card {
    padding: 2em;
}

.title {
    font-family: kadwa;
    /*font-size: 3.2em;*/
    font-size: 22pt;
    font-weight: bold;
}



button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.10s;
}

button:hover {
    border-color: #646cff;
}

button:focus {
/*button:focus-visible {*/
    outline: 4px auto;
    /*outline: 4px auto -webkit-focus-ring-color;*/
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}


/*DATATABLE css */
.titleCol {
    /*text-align : center;*/
    font-weight: bold;
}

table.dataTable tr.dtrg-group th {
    background-color:rgba(0, 0, 0, 0.1);
    text-align:left
}

table {
    border-collapse: collapse !important;
}

td {
    padding-right: 0 !important;
}

.small-text {
    font-size: 9pt;
}

/*table.dataTable tr.dtrg-group.dtrg-level-0 th{font-weight:bold}*/

/*table.dataTable tr.dtrg-group.dtrg-level-1 th,table.dataTable tr.dtrg-group.dtrg-level-2 th,table.dataTable tr.dtrg-group.dtrg-level-3 th,table.dataTable tr.dtrg-group.dtrg-level-4 th,table.dataTable tr.dtrg-group.dtrg-level-5 th {*/
/*    background-color:rgba(0, 0, 0, 0.05);*/
/*    padding-top:.25em;*/
/*    padding-bottom:.25em;*/
/*    padding-left:2em;font-size:.9em*/
/*}*/

/*table.dataTable tr.dtrg-group.dtrg-level-2 th{background-color:rgba(0, 0, 0, 0.01);padding-left:2.5em}table.dataTable tr.dtrg-group.dtrg-level-3 th{background-color:rgba(0, 0, 0, 0.01);padding-left:3em}table.dataTable tr.dtrg-group.dtrg-level-4 th{background-color:rgba(0, 0, 0, 0.01);padding-left:3.5em}table.dataTable tr.dtrg-group.dtrg-level-5 th{background-color:rgba(0, 0, 0, 0.01);padding-left:4em}html.dark table.dataTable tr.dtrg-group th{background-color:rgba(255, 255, 255, 0.1)}html.dark table.dataTable tr.dtrg-group.dtrg-level-1 th{background-color:rgba(255, 255, 255, 0.05)}html.dark table.dataTable tr.dtrg-group.dtrg-level-2 th,html.dark table.dataTable tr.dtrg-group.dtrg-level-3 th,html.dark table.dataTable tr.dtrg-group.dtrg-level-4 th,html.dark table.dataTable tr.dtrg-group.dtrg-level-5 th{background-color:rgba(255, 255, 255, 0.01)}*/

